<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head('Quản lý doanh nghiệp - Intership DN')"></head>
<body>
<div th:replace="admin/fragments/header :: header"></div>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="admin/fragments/sidebar :: sidebar"></div>

        <!-- Main Content -->
        <div class="col-lg-10 p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3><i class="fas fa-tags me-2"></i> Quản lý bài đăng</h3>
            </div>

            <!-- Search and Filter -->
            <div class="card mb-4">
                <div class="card-body">
                    <form method="get" th:action="@{/admin/bai-dang}" class="row g-3">
                        <div class="col-md-4">
                            <label for="searchSkill" class="form-label">Tìm kiếm bài đăng</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="keyword" id="searchSkill"
                                       placeholder="Nhập tên bài đăng...">
                                <button class="btn btn-outline-primary" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Doanh nghiệp</label>
                            <select name="doanhNghiep" class="form-select" onchange="this.form.submit()">
                                <option value="">Tất cả doanh nghiệp</option>
                                <option th:each="doanhNghiep : ${doanhNghieps}"
                                        th:value="${doanhNghiep.maDoanhNghiep}"
                                        th:text="${doanhNghiep.tenDoanhNghiep}"
                                        th:selected="${selectedDoanhNghiep == doanhNghiep.maDoanhNghiep}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Trạng thái</label>
                            <select name="trangThai" class="form-select" onchange="this.form.submit()">
                                <option value="">Tất cả trạng thái</option>
                                <option value="CON_HAN" th:selected="${selectedTrangThai == 'CON_HAN'}">Đang hoạt động</option>
                                <option value="HET_HAN" th:selected="${selectedTrangThai == 'HET_HAN'}">Đã hết hạn</option>
                                <option value="KHOA_BOI_DN" th:selected="${selectedTrangThai == 'KHOA_BOI_DN'}">Tạm dừng</option>
                                <option value="KHOA_BOI_ADMIN" th:selected="${selectedTrangThai == 'KHOA_BOI_ADMIN'}">Bị khóa</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="searchSkill" class="form-label">Loại</label>
                            <select name="loai" class="form-select" onchange="this.form.submit()">
                                <option value="">Tất cả loại</option>
                                <option value="TOAN_THOI_GIAN" th:selected="${selectedLoai == 'TOAN_THOI_GIAN'}">Toàn thời gian</option>
                                <option value="BAN_THOI_GIAN" th:selected="${selectedLoai == 'BAN_THOI_GIAN'}">Bán thời gian</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Doanh nghiệp</th>
                                <th>Loại</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="baiDang : ${baiDangs}">
                                <td th:text="${baiDang.tieuDe}">Thực tập sinh Java</td>
                                <td th:text="${baiDang.doanhNghiep.tenDoanhNghiep}">Công ty TNHH ABC</td>
                                <td th:switch="${baiDang.loai.name()}">
                                    <span th:case="'BAN_THOI_GIAN'">Bán thời gian</span>
                                    <span th:case="'TOAN_THOI_GIAN'">Toàn thời gian</span>
                                </td>

                                <td>
                                    <div th:if="${baiDang.trangThai.name() == 'CON_HAN'}" class="badge text-bg-success">
                                        Đang hoạt động
                                    </div>
                                    <div th:if="${baiDang.trangThai.name() == 'HET_HAN'}"
                                         class="badge text-bg-secondary">Hết hạn
                                    </div>
                                    <div th:if="${baiDang.trangThai.name() == 'KHOA_BOI_DN'}"
                                         class="badge text-bg-warning">Tạm dừng
                                    </div>
                                    <div th:if="${baiDang.trangThai.name() == 'KHOA_BOI_ADMIN'}"
                                         class="badge text-bg-danger">Bị khóa
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex gap-1">
                                        <button title="chi tiết" class="btn btn-sm btn-outline-success">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </button>
                                        <form th:action="@{/admin/bai-dang/khoa-bai-dang}" method="post">
                                            <input type="hidden" name="maBaiDang" th:value="${baiDang.maBaiDang}"/>
                                            <button th:if="${baiDang.trangThai.name() != 'KHOA_BOI_ADMIN'}" title="khóa"
                                                    class="btn btn-sm btn-outline-warning">
                                                <i class="fas fa-lock-open"></i>
                                            </button>
                                        </form>
                                        <form th:action="@{/admin/bai-dang/mo-khoa}" method="post">
                                            <input type="hidden" name="maBaiDang" th:value="${baiDang.maBaiDang}"/>
                                            <button th:if="${baiDang.trangThai.name() == 'KHOA_BOI_ADMIN'}" title="mở khóa"
                                                    class="btn btn-sm btn-outline-warning">
                                                <i class="fas fa-lock"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <!-- Các dòng khác -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <nav th:if="${totalPages > 0}">
                        <ul class="pagination mb-0">
                            <!-- Previous Button -->
                            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/bai-dang(page=${currentPage - 1}, limit=8, keyword=${keyword}, doanhNghiep=${selectedDoanhNghiep}, trangThai=${selectedTrangThai}, loai=${selectedLoai})}"
                                   th:unless="${currentPage == 0}">Trước</a>
                                <span class="page-link" th:if="${currentPage == 0}">Trước</span>
                            </li>

                            <!-- Page Numbers -->
                            <li class="page-item"
                                th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                                th:classappend="${pageNumber == currentPage ? 'active' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/bai-dang(page=${pageNumber}, limit=8, keyword=${keyword}, doanhNghiep=${selectedDoanhNghiep}, trangThai=${selectedTrangThai}, loai=${selectedLoai})}"
                                   th:text="${pageNumber + 1}">1</a>
                            </li>

                            <!-- Next Button -->
                            <li class="page-item" th:classappend="${currentPage >= totalPages - 1 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/bai-dang(page=${currentPage + 1}, limit=8, keyword=${keyword}, doanhNghiep=${selectedDoanhNghiep}, trangThai=${selectedTrangThai}, loai=${selectedLoai})}"
                                   th:unless="${currentPage >= totalPages - 1}">Sau</a>
                                <span class="page-link" th:if="${currentPage >= totalPages - 1}">Sau</span>
                            </li>
                        </ul>
                    </nav>

                    <!-- No Items Message -->
                    <div th:if="${totalPages == 0}" class="text-center">
                        <p class="text-muted">Không có kỹ năng nào để hiển thị.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1100">
    <div th:if="${successMsg}" class="toast text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Thông báo</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" th:text="${successMsg}"></div>
    </div>
    <div th:if="${errorMsg}" class="toast text-white bg-danger" role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Lỗi</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" th:text="${errorMsg}"></div>
    </div>
    <div th:if="${warningMsg}" class="toast text-white bg-warning" role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Cảnh báo!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" th:text="${warningMsg}"></div>
    </div>
</div>

</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = document.querySelectorAll('.toast');
        toastElList.forEach(function (toastEl) {
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        });
    });
</script>