<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head('Quản lý sinh viên - Intership DN')"></head>
<style>
    .profile-avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #e74c3c;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: bold;
    }
</style>
<body>
<div th:replace="admin/fragments/header :: header"></div>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="admin/fragments/sidebar :: sidebar"></div>

        <!-- Main Content -->
        <div class="col-lg-10 p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3><i class="fas fa-tags me-2"></i> Quản lý sinh viên</h3>
            </div>


            <!-- Search and Filter -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row g-3">
                        <form method="get" id="filterForm" th:action="@{/admin/sinh-vien}">
                            <input type="hidden" name="page" th:value="0"/>

                            <div class="row g-3">
                                <!-- Search Input -->
                                <div class="col-md-4">
                                    <label for="searchName" class="form-label">Tìm kiếm sinh viên</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="keyword" th:value="${keyword}"
                                               placeholder="Nhập tên sinh viên...">
                                        <button class="btn btn-outline-primary" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="status" class="form-label">Theo trạng thái</label>
                                    <select class="form-select" name="status" onchange="this.form.submit()">
                                        <option value="tat-ca"
                                                th:selected="${status == 'tat-ca'}"
                                        >Tất cả trạng thái</option>
                                        <option value="HOAT_DONG_DA_XAC_THUC"
                                                th:selected="${status == 'HOAT_DONG_DA_XAC_THUC'}">
                                            Hoạt động + đã xác thực
                                        </option>
                                        <option value="HOAT_DONG_CHUA_XAC_THUC"
                                                th:selected="${status == 'HOAT_DONG_CHUA_XAC_THUC'}">
                                            Hoạt động + chưa xác thực
                                        </option>
                                        <option value="HOAT_DONG_THAT_BAI"
                                                th:selected="${status == 'HOAT_DONG_THAT_BAI'}">
                                            Hoạt động + xác thực thất bại
                                        </option>
                                        <option value="BI_KHOA" th:selected="${status == 'BI_KHOA'}">
                                            Bị khóa
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-5">
                                    <label for="nha-truong" class="form-label">Chọn nhà trường</label>
                                    <select class="form-select" name="maSchool" onchange="this.form.submit()">
                                        <option value="tat-ca">Tất cả</option>
                                        <option th:each="nhaTruong : ${nhaTruongs}"
                                                th:value="${nhaTruong.maNhaTruong}"
                                                th:text="${nhaTruong.tenTruong}"
                                                th:selected="${nhaTruong.maNhaTruong == maSchool}"
                                        >
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Họ tên</th>
                                <th>Trường</th>
                                <th>Khoa</th>
                                <th>Lớp</th>
                                <th>Chuyên ngành</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="sinhVien : ${sinhViens}">
                                <td th:text="${sinhVien.hoVaTen}">Nguyễn Văn A</td>
                                <td th:text="${sinhVien.nhaTruong.tenTruong}">Đại học Bách Khoa</td>
                                <td th:text="${sinhVien.khoa}">CNTT</td>
                                <td th:text="${sinhVien.lop}">K15</td>
                                <td th:text="${sinhVien.chuyenNganh}">Kỹ thuật phần mềm</td>
                                <td>
                                    <div class="badge text-bg-success"
                                         th:if="${sinhVien.taiKhoan.trangThai.name() == 'HOAT_DONG' && sinhVien.trangThai != null && sinhVien.trangThai.name() == 'DUNG'}">
                                        Đang hoạt động
                                    </div>
                                    <div class="badge text-bg-secondary"
                                         th:if="${sinhVien.taiKhoan.trangThai.name() == 'HOAT_DONG' && sinhVien.trangThai == null}">
                                        Chưa xác thực
                                    </div>
                                    <div class="badge text-bg-danger"
                                         th:if="${sinhVien.taiKhoan.trangThai.name() == 'HOAT_DONG' && sinhVien.trangThai != null && sinhVien.trangThai.name() == 'SAI'}">
                                        Xác thực thất bại
                                    </div>
                                    <div class="badge text-bg-warning"
                                         th:if="${sinhVien.taiKhoan.trangThai.name() == 'BI_KHOA'}">
                                        Tài khoản bị khóa
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex gap-1">
                                        <button class="btn btn-sm btn-outline-success"
                                                data-bs-toggle="modal"
                                                th:data-bs-target="'#studentDetailModal'+${sinhVien.maSinhVien}">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </button>
                                        <form th:action="@{/admin/tai-khoan}" method="post">
                                            <input type="hidden" name="maTaiKhoan"
                                                   th:value="${sinhVien.taiKhoan.maTaiKhoan}"/>
                                            <input th:if="${sinhVien.taiKhoan.trangThai.name() == 'HOAT_DONG'}"
                                                   type="hidden" name="trangThai" value="khoa"/>
                                            <input th:if="${sinhVien.taiKhoan.trangThai.name() == 'BI_KHOA'}"
                                                   type="hidden" name="trangThai" value="mo"/>
                                            <input type="hidden" name="trang" value="sinh-vien"/>
                                            <button class="btn btn-sm btn-outline-primary">
                                                <i th:if="${sinhVien.taiKhoan.trangThai.name() == 'HOAT_DONG'}"
                                                   class="fas fa-pause"></i>
                                                <i th:if="${sinhVien.taiKhoan.trangThai.name() == 'BI_KHOA'}"
                                                   class="fas fa-play"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                                <div class="modal fade" th:id="'studentDetailModal'+${sinhVien.maSinhVien}"
                                     tabindex="-1" aria-labelledby="studentDetailModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="studentDetailModalLabel">Thông tin chi tiết
                                                    sinh viên</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-4 d-flex align-items-center justify-content-center text-center mb-3">
                                                        <div class="profile-avatar"
                                                             th:text="${#strings.isEmpty(sinhVien.hoVaTen) ? '?' : #strings.substring(sinhVien.hoVaTen, 0, 1)}">
                                                            ?
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row mb-2">
                                                            <div class="col-md-4 fw-bold">Họ và tên:</div>
                                                            <div class="col-md-8" th:text="${sinhVien.hoVaTen}">Lê Quốc
                                                                Bảo
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-md-4 fw-bold">Mã sinh viên:</div>
                                                            <div class="col-md-8" th:text="${sinhVien.maSinhVien}">
                                                                21115053120104
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-md-4 fw-bold">Ngày sinh:</div>
                                                            <div class="col-md-8"
                                                                 th:text="${#temporals.format(sinhVien.ngaySinh, 'dd/MM/yyyy')}">
                                                                15/05/2002
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-md-4 fw-bold">Giới tính:</div>
                                                            <div class="col-md-8"
                                                                 th:if="${sinhVien.gioiTinh.name() == 'NAM'}">Nam
                                                            </div>
                                                            <div class="col-md-8"
                                                                 th:if="${sinhVien.gioiTinh.name() == 'NU'}">Nữ
                                                            </div>
                                                        </div>
<!--                                                        <div class="row mb-2">-->
<!--                                                            <div class="col-md-4 fw-bold">Số điện thoại:</div>-->
<!--                                                            <div class="col-md-8" th:text="${sinhVien.soDienThoai}">-->
<!--                                                                0987654321-->
<!--                                                            </div>-->
<!--                                                        </div>-->
                                                        <div class="row mb-2">
                                                            <div class="col-md-4 fw-bold">Địa chỉ:</div>
                                                            <div class="col-md-8" th:text="${sinhVien.diaChi}">123 Đường
                                                                ABC, Quận 1, Tp.HCM
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-md-4 fw-bold">CCCD:</div>
                                                            <div class="col-md-8" th:text="${sinhVien.cccd}">
                                                                079202000123
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-md-4 fw-bold">Khoa:</div>
                                                            <div class="col-md-8" th:text="${sinhVien.khoa}">Công nghệ
                                                                phần mềm
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-md-4 fw-bold">Lớp:</div>
                                                            <div class="col-md-8" th:text="${sinhVien.lop}">KTPM2023
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-md-4 fw-bold">Chuyên ngành:</div>
                                                            <div class="col-md-8" th:text="${sinhVien.chuyenNganh}">Kỹ
                                                                thuật phần mềm
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <nav th:if="${totalPages > 0}">
                        <ul class="pagination mb-0">
                            <!-- Previous Button -->
                            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/sinh-vien(page=${currentPage - 1}, limit=8)}"
                                   th:unless="${currentPage == 0}">Trước</a>
                                <span class="page-link" th:if="${currentPage == 0}">Trước</span>
                            </li>

                            <!-- Page Numbers -->
                            <li class="page-item"
                                th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                                th:classappend="${pageNumber == currentPage ? 'active' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/sinh-vien(page=${pageNumber}, limit=8)}"
                                   th:text="${pageNumber + 1}">1</a>
                            </li>

                            <!-- Next Button -->
                            <li class="page-item" th:classappend="${currentPage >= totalPages - 1 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{/admin/sinh-vien(page=${currentPage + 1}, limit=8)}"
                                   th:unless="${currentPage >= totalPages - 1}">Sau</a>
                                <span class="page-link" th:if="${currentPage >= totalPages - 1}">Sau</span>
                            </li>
                        </ul>
                    </nav>

                    <!-- No Items Message -->
                    <div th:if="${totalPages == 0}" class="text-center">
                        <p class="text-muted">Không có sinh viên nào để hiển thị.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>