<!-- Sidebar -->
<div th:fragment="sidebar" class="col-md-3">
    <div class="sidebar">
        <div class="d-flex align-items-center mb-2">
            <i class="fas fa-hand-paper text-danger me-2"></i>
            <div>Xin chào</div>
        </div>
        <div class="welcome-name mb-4">Bảo Lê Quốc</div>

        <a
                th:classappend="${requestURI.startsWith('/sinh-vien/tong-quan')} ? 'active-link' : ''"
                th:href="@{/sinh-vien/tong-quan}" class="sidebar-item" style="padding-left: 12px">
            <i class="fas fa-th-large"></i> Tổng quan
        </a>
        <a
                th:classappend="${requestURI.startsWith('/sinh-vien/bai-dang/da-ung-tuyen')} ? 'active-link' : ''"
                th:href="@{/sinh-vien/bai-dang/da-ung-tuyen}" class="sidebar-item" style="padding-left: 12px">
            <i class="fas fa-briefcase"></i> Việc làm của tôi
        </a>
        <a
                th:classappend="${requestURI.startsWith('/sinh-vien/lich-phong-van')} ? 'active-link' : ''"
                th:href="@{/sinh-vien/lich-phong-van}" class="sidebar-item d-flex justify-content-between" style="padding-left: 12px">
            <div><i class="fas fa-bell"></i> Lịch phỏng vấn</div>
<!--            <span class="badge badge-count" style="padding: 5px 8px">2</span>-->
        </a>
        <a
                th:classappend="${requestURI.startsWith('/sinh-vien/loi-moi-thuc-tap')} ? 'active-link' : ''"
                th:href="@{/sinh-vien/loi-moi-thuc-tap}" class="sidebar-item" style="padding-left: 12px">
            <i class="fas fa-envelope"></i> Lời mời công việc
        </a>
        <a th:classappend="${requestURI.startsWith('/sinh-vien/doi-mat-khau')} ? 'active-link' : ''"
           th:href="@{/sinh-vien/doi-mat-khau}" class="sidebar-item" style="padding-left: 12px">
            <i class="fas fa-key"></i> Đổi mật khẩu
        </a>
    </div>
</div>