<div th:fragment="sidebar" class="col-lg-2 p-0 sidebar">
    <div class="p-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-tachometer-alt me-2"></i> Tổng quan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${requestURI.startsWith('/bai-dang')} ? 'active' : ''"
                   href="#"><i class="fas fa-briefcase me-2"></i> Bài đăng</a>
            </li>
            <li class="nav-item">
                <a
                        th:classappend="${requestURI.startsWith('/doanh-nghiep')} ? 'active' : ''"
                        class="nav-link" href="#"><i class="fas fa-building me-2"></i> Doanh nghiệp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${requestURI.startsWith('/sinh-vien')} ? 'active' : ''"
                   href="#"><i class="fas fa-user-graduate me-2"></i> Sinh viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${requestURI.startsWith('/nha-truong')} ? 'active' : ''"
                   href="#"><i class="fas fa-university me-2"></i> Nhà trường</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="#"
                   th:classappend="${requestURI.startsWith('/danh-muc')} ? 'active' : ''">
                    <i class="fas fa-list me-2"></i> Danh mục
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="#"
                   th:classappend="${requestURI.startsWith('/ky-nang')} ? 'active' : ''">
                    <i class="fas fa-tags me-2"></i> Kỹ năng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-cog me-2"></i> Cài đặt</a>
            </li>
        </ul>
    </div>
</div>